%div
  %img{:src => 'img/sfs.png', :class => 'sfs'}

%div
  %iframe{ :width => '480', :height => '270', :src => 'https://www.youtube.com/watch?v=hk-Hl1gnEXA', :frameborder => '10', :class => 'center' }

%div
  %a{ :href => 'http://www.facebook.com/starfishanimalrescue' }
    %img{:src => 'img/facebook.png', :class => 'center'}
